
.brackcell_top
{
  border-bottom: 1px solid #191970;
}

.bracketcell_bottom_left
{
  border-right: 1px solid #191970;
  border-bottom: 1px solid #191970;
}

.bracketcell_bottom_right
{
  border-right: 1px solid #191970;
  border-bottom: 1px solid #191970;
}

.teamname
{
	font-size : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}

.missedpick
{
	font-size : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	text-decoration : line-through;
	color : red;
}

.pendingpick
{
	font-size : 10px;
	font-family : Arial, Helvetica, sans-serif;
	color : gray;
}